<% provide(:title, "About Us") %>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <style>
        .fix{
            display:inline-block;
            width:10em;
            float:left;
            text-align:center;
        }
    </style>

</head>
<body>

    


</body>

</html>